---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div id="container">
		<div class="tooltip">
			<span class="tooltip__text">Архитектура</span>
			<div class="tooltip__left"></div>
			<div class="tooltip__right"></div>
			<div class="tooltip__line"><div class="tooltip__moveline"></div></div>
		</div>

		<div class="tooltip">
			<span class="tooltip__text">Дизайн</span>
			<div class="tooltip__left"></div>
			<div class="tooltip__right"></div>
			<div class="tooltip__line"><div class="tooltip__moveline"></div></div>
		</div>
		<div class="tooltip">
			<span class="tooltip__text">Строительство</span>
			<div class="tooltip__left"></div>
			<div class="tooltip__right"></div>
			<div class="tooltip__line"><div class="tooltip__moveline"></div></div>
		</div>
		<div class="tooltip">
			<span class="tooltip__text">Услуги</span>
			<div class="tooltip__left"></div>
			<div class="tooltip__right"></div>
			<div class="tooltip__line"><div class="tooltip__moveline"></div></div>
		</div>
	</div>

{% endblock %}
